[Unit]
Description=MX-Display
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u mx-screen.py --led-cols=32 --led-rows=32 --led-chain=4 --led-gpio-mapping=adafruit-hat --led-slowdown-gpio=3 -c 1
WorkingDirectory=/home/pi/Development/mxdisplay
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
