[Unit]
Description=MX-Display-Web
After=network.target

[Service]
ExecStart=/home/pi/Development/mxdisplay/mx-web.sh
WorkingDirectory=/home/pi/Development/mxdisplay
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target